@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Montserrat:wght@100;400&display=swap');

.last-articles-container {
  background-color: white;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center; /* Centra il titolo verticalmente */
  flex-direction: column; /* Allinea gli elementi in colonna */
}

.last-articles-title {
  font-size: 2rem;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 1.5rem; /* Aggiungi margine inferiore tra il titolo e le card */
}

.card-wrapper {
  margin: 1rem; /* Aggiungi margine tra le card */
  display: flex;
}

.card-image {
  border: none;
  height: 250px;
  object-fit: cover;
}

.card-title {
  border: none;
  color: black;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

/* Media query per viewport più piccoli di 768px */
@media screen and (max-width: 768px) {
  .card-wrapper {
    flex-wrap: nowrap; /* Imposta flex-wrap a "nowrap" per le card nel media query */
  }
}

