.hero-video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.hero-container {
  /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.hero-container > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: -100px;
}

.hero-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

/* Stile per il div dei bottoni */
.hero-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Aggiungi la distanza dal contenuto sopra se necessario */
}

/* Stile per i bottoni */
.hero-btns .btn {
  margin: 10px; /* Aggiungi il margine tra i bottoni */
  font-size: 16px; /* Aggiungi la dimensione del testo, se necessario */
  /* Altri stili comuni per i bottoni, se necessario */
}

/* Stile per il bottone "Get Info" */
.hero-btns .btn.get-info-btn {
  color: white;
  background-color: #007bff;
  /* Aggiungi altri stili specifici per il bottone "Get Info" */
}

/* Stile per il bottone "Enroll" */
.hero-btns .btn.enroll-btn {
  color: #007bff;
  background-color: white;
  border: 1px solid #007bff;
  /* Aggiungi altri stili specifici per il bottone "Enroll" */
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .hero-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}
